---
import Layout from '../layouts/Layout.astro';
import {Gallery,Gift,Heros,Location,Navigation,Profile,Ucapan,UndanganAcara} from '../components'
import { Icon } from 'astro-icon/components';
---

<Layout title="Website Undangan">
<Navigation/>
<Heros section="hero"/>
<Profile name="profile"/>
<UndanganAcara name="acara"/>
<Location name="lokasi"/>
<Gallery name="gallery"/>
<Gift name="gift"/>
<Ucapan name="ucapan"/>
<button id="sound" class="fixed bottom-20 left-5 sm:bottom-10 sm:left-10 bg-white shadow-lg p-2 rounded-full z-[100]">
<Icon name="mdi:play" class="text-sky-800 text-[24px] md:text-[32px]"/>
</button>
</Layout>
<script>
	import bgsound from '../components/sound/backsound.mp3'
	const sound = document.getElementById('sound');
		const audio = new Audio(bgsound);
		audio.loop = true;
		audio.volume = 0.5
		audio.play()
		audio.autoplay = true
		sound.addEventListener('click', () => {
			if (audio.paused) {
				audio.play();
				
			}else{
				audio.pause();	
			}
		})

</script>

