---
import { Image } from "astro:assets";
import wizard from "../img/logo.jpg"


---
<div class="flex bg-[#06062c] w-full flex-col z-[10] justify-center items-center py-10 px-5">
    <Image src={wizard} width={100} alt="logo"/>
    <p class="text-center text-slate-100">Copyright 2024 CodeWizard. All Rights Reserved</p>
</div>