---
import bunga3 from '../img/bunga3.png'
import img1 from '../img/img1.png'
import { Hero } from '.';
import { Image } from "astro:assets"


---
<div class="relative overflow-x-hidden">
	<Image src={img1} alt="hero" class="absolute top-1/4 lg:top-0 left-0 lg:left-1/4 w-full md:w-1/2" />
	 <span class="flex flex-col w-full h-full my-primary-bg bg-opacity-50">
    <Image width={300} src={bunga3} class="absolute -top-[50px] -left-[50px]" alt="bunga3" />
    <Image width={300} src={bunga3} class="absolute -top-[50px] rotate-90 -right-[50px]" alt="bunga3" />
    <Hero name="home" />
  </span>

</div>
