---
import MyLayout from "../layouts/MyLayout.astro"
const {name} = Astro.props
---

<MyLayout>
    <div id={name} class="w-full flex flex-col justify-center items-center py-10 px-5 z-20">
        <h1 class="text-3xl my-primary-color font-great mb-2 font-bold md:text-5xl">Peta Lokasi</h1>
        <p class="text-sm md:text-base text-center md:px-5 px-10 font-semibold italic lg:font-normal">Anda dapat menuju lokasi acara kami dengan bantuan peta dibawah ini. Atau anda bisa buka di : </p>
        <a href="https://maps.app.goo.gl/UP4QkrsLBNgdD3xX9" target="_blank" class="my-secondary-bg text-slate-200 px-5 py-1 rounded-md mb-10 mt-5">Google Map</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1443.7821233467523!2d106.1293601342912!3d-6.0794745949313125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMDQnNDYuMCJTIDEwNsKwMDcnNDYuMSJF!5e0!3m2!1sid!2sid!4v1721207133434!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-[300px] md:w-[600px]"></iframe>
        </div>
</MyLayout>