---

import {navList} from './content'
import { Icon } from 'astro-icon/components'

---
<div class="w-full flex fixed bottom-4 right-0 z-[30] justify-center items-center">
    <nav class="bg-white shadow-lg w-full mx-40 lg:w-1/3 lg:mx-0 rounded-3xl">
        <ul class="flex justify-between items-center p-3">
            {
                navList.map((item) => (
                    <li class="flex-initial px-2 text-center">
                        <a href={item.link} class="text-center text-slate-400 transform group ">
                        <Icon name={item.icon} size={20} class='lg:text-2xl transition duration-300 group-hover:-translate-y-2 group-hover:scale-125 group-hover:text-[#966543]' />
                        </a></li>
                    ))
            }
        </ul>
    </nav>
</div>