---
import MyLayout from "../layouts/MyLayout.astro";
const {name} = Astro.props
---

<MyLayout>
    <div id={name} class="w-full flex flex-col justify-center items-center py-10 px-5">
        <h1 class="text-3xl text-sky-800 font-great font-bold md:text-5xl">Ucapan & Doa</h1>
        <div class="flex flex-col p-8 mt-20 mb-30 gap-5 w-full md:w-1/2 bg-white rounded-md shadow-md z-[10]">
            <h1 class="text-xl text-sky-800 font-Dancing text-center">Berikan Ucapan dan Doamu karena itu berharga bagi kami</h1>
            <input class="p-3 text-sm md:text-base w-full rounded-md shadow-sm bg-slate-100 outline-none border-2 mt-5" type="text" name="nama" id="nama" placeholder="Masukkan Nama">
            <select class="text-sm md:text-base p-2 bg-slate-100 outline-none border-2 w-full rounded-md shadow-sm">
                <option value="hadir" selected>Hadir</option>
                <option value="belum pasti">Belum pasti</option>
                <option value="tidak bisa">tidak bisa hadir</option>
            </select>
            <textarea class="text-sm md:text-base p-3 w-full rounded-md shadow-sm bg-slate-100 outline-none border-2" name="ucapan" id="ucapan" cols="30" rows="10" placeholder="Masukkan Ucapan"></textarea>
        </div>
        </div>
</MyLayout>