---
import MyLayout from "../layouts/MyLayout.astro";
---

<MyLayout>
    <div class="w-full flex flex-col justify-center items-center py-10 px-5">
        <h1 class="text-3xl text-sky-800 font-great font-bold md:text-5xl">Video</h1>
        <div class="w-full flex mt-20 flex-col justify-center items-center">
         <iframe class="aspect-video w-50 md:w-[1000px] z-[10]" src="https://www.youtube.com/embed/y4bSFu5DySE?si=pSgKE-gojVokuGoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
</MyLayout>